{% extends 'base.html' %}
{% load static %}


{% block title%}Taskopolis{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}


{% block body %}


<div class="center">
    <h1>Taskopolis</h1>
    <p>Your handy for task management!</p>
    <div class="buttons">
        <button class="login-btn">
            <a href="{% url 'login' %}">Login</a>
        </button>
        <button class="signup-btn">
            <a href="{% url 'signup' %}">SignUp</a>
        </button>
    </div>
</div>


{% endblock %}