{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/update.css' %}">
{% endblock %}

{% block body %}

<div>
    <form action="{% url 'update' pk %}" method="POST">
        {% csrf_token %}
        <span>
            {{ form.title.label }}
            {{ form.title}}
        </span>
        <span>
            {{ form.description.label }}
            {{ form.description }}
        </span>
        <span>
            {{ form.finished.label }}
            {{ form.finished }}
        </span>
        <input type="submit" name="update">
    </form>
    <div class="end">
        {{ form.errors }}
    </div>
</div>

{% endblock %}